
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поиск</title>
</head>
<body>
    <div>
        <h3>Форма поиска</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Поиск по ИИН </p></td>
                    <td><input type="text" name="Iin" /> </td>
                </tr>
                <tr><td><input type="submit" value="Поиск" /> </td><td></td></tr>
                <tr>
                    <td><p>Поиск по Фамилии </p></td>
                    <td><input type="text" name="Surname" /> </td>
                </tr>
                <tr><td><input type="submit" value="Поиск" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
